{% extends "base.html" %}
{% block main %}
<div class="card border-light mb-3">
        <div class="card-header">{{ book.title }}</div>
        <a href="{{ book.url }}" target='_blank'>
                <img src="{{ url_for('static', filename='images/'+book.img) }}" alt="Couverture de {{ book.title }}"
                        title="{{ book.title }}" class="card-img-top" />
        </a>
        <div class="card-body">
                <h6 class="card-text card-footer">
                        Auteur : {{ book.author }}
                        Prix : {{ book.price }} €
                </h6>
        </div>
</div>
{% endblock %}