{% extends "base.html" %}
{% block main %}
<h1>{{ title }}</h1>
<div class="row sample">
{% for x in books %}
<a  class="col-md-3 col-xs-6  col-sm-4"
    href="{{ x.url }}"
    target="_blank" >
<img  src="{{ url_for('static', filename='images/'+x.img) }}"
     title="{{ x.title + " de " + x.author }}"
     alt="{{ "couverture de " + x.title }}"/>
</a>
{% endfor %}
</div>
{% endblock %}
